<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Call Details</title>
    <!-- Include necessary CSS and JavaScript files here -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <style>
        body {
            background-color: #f2f2f3;
        }
        .blue-header {
            background-color: #4221b8;
        }
        .highlighted-keywords {
            background-color: rgba(5, 155, 35, 0.725);
            color: white;
            padding: 2px 4px; /* Adjust padding for spacing around the keyword */
            border-radius: 3px; /* Add rounded corners for the highlight */
        }
        input[type="range"] {
            width: 100%;
        }

        /* Position the value span to the right of the slider */
        .slider-container {
            display: flex;
            align-items: center;
        }

        .slider-value {
            margin-left: 10px; /* Adjust the margin as needed */
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark blue-header">
        <a class="navbar-brand" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="navbar-logo" width="120" height="60">
                Sales Call Analytics Tool
        </a>
        <div class="d-flex ml-auto">
            <i class="fas fa-user-circle fa-2x mr-2"></i>
            <span class="navbar-brand">Team Joyful Jedi</span>
        </div>
    </nav>

    <div class="container">
        <div class="row" style="padding-top: 10px;">
            <!-- First Card: Customer Details -->
            <div class="col-md-6">
                <div class="card" style="height: 220px; margin-bottom: 20px;">
                    <div class="card-body">
                        <h4 class="card-title">Customer Details</h4>
                        <p class="card-text">
                            {% for call in call_details %}
                            <b>Name: </b> {{ call.caller_name }}<br>
                            <b>Contact Number:</b>  {{ call.caller_id }}<br>
                            <b>Age:</b> {{ call.caller_age }}  &emsp; <b>Gender:</b> {{ call.caller_gender }}<br>
                            <b>Location:</b> {{ call.Location }} <br>
                            <b>Assigned Agent: </b> {{ call.Agent_Name }}<br>
                            <b>Followup Required: </b> 
                            <span style="color: {% if call.followup_required == 'Yes' %}green{% else %}red{% endif %}; font-weight: bold;">
                                {{ call.followup_required }}
                            </span>
                            {% endfor %}
                        </p>
                    </div>
                </div>
                <!-- Audio Player -->
                <div style="padding-top: 10px;">
                <div style="padding-bottom: 10px; padding-left: 100px;">
                {% for call in call_details %}
                <audio controls>
                    <source src="{{ url_for('static', filename=call.audio_path) }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                {% endfor %}
                </div>
                <!-- Table with Audio Transcript -->
                <h5>Transcript:</h5>
                <div class="table-responsive" style="max-height: 330px; overflow-y: scroll; width: 100%;">
                <table class="table table-striped" style="max-height: 300px; overflow-y: scroll;">
                    <tbody>
                        {% for call in call_phrases %}
                        <tr>
                            <td>{{ call.timestamp }}</td>
                            <td>{{ call.translated_phrase }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
                </div>
            </div>
            <!-- Second Card: Call Information -->
            <div class="col-md-6">
                <div class="card" style="height: 220px; margin-bottom: 20px;">
                    <div class="card-body">
                        <h4 class="card-title">Call Information</h4>
                        <p class="card-text">
                            {% for call in call_details %}
                            <b>Call Timestamp:</b> {{ call.call_timestamp }} &emsp; <b>Call Duration:</b> {{ call.call_duration }}<br>
                            <b>Call Language:</b> {{ call.audio_language }}<br>
                            {% endfor %}
                            <b>Keywords: </b>
                            {% for key in keywords_list %}   
                            <span class="highlighted-keywords">{{key }}</span>
                            {% endfor %}
                        </p>
                    </div>
                </div>
                <div class="card" style="height: 250px; margin-bottom: 20px;">
                    <div class="card-body">
                        <h4 class="card-title" style="position: sticky; top: 0; background: white; z-index: 1;">Call Summary</h4>
                        {% for call in call_details %}
                        <p class="card-text" style="max-height: 180px; overflow-y: auto;">
                            {{ call.call_summary }}
                        </p>
                        {% endfor %}
                    </div>
                </div>
                <div class="card" style="height: 180px; margin-bottom: 20px;">
                    <div class="card-body">
                        <h4 class="card-title" style="position: sticky; top: 0; background: white; z-index: 1;">Action Items</h4>
                        <p class="card-text">
                            <ul>
                                {% for item in action_items_list %}
                                    <li>{{ item }}</li>
                                {% endfor %}
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 50px;">
            <div class="col-md-12">
            <div class="card" style="height: 200px; margin-bottom: 20px;">
                <div class="card-body">
                    <h4 class="card-title">Customer Analysis</h4>
                    {% for call in call_details %}
                    <table class="table table-striped">
                        <thead class="text-center">
                            <th>Budget</th>
                            <th>Authority</th>
                            <th>Need</th>
                            <th>Timeline</th>
                        </thead>
                        <tbody class="text-center">
                            <tr>
                                <td>{{ call.budget }}</td>
                                <td>{{ call.authority }}</td>
                                <td>{{ call.need }}</td>
                                <td>{{ call.timing }}</td>
                            </tr>
                        </tbody>
                    </table>
                    {% endfor %}
                </div>
            </div>
            </div>
        </div>
        <div class="row" style="padding-top: 50px;">
            <div class="col-md-12">
                <div class="card" style=" margin-bottom: 20px;">
                    <div class="card-body">
                        <h4 class="card-title">Generate Resource</h4>
                        <div class="row" style="padding-top: 10px;">
                            <div class="form-group col-md-3">
                                <label for="topic"><b>Topic:</b></label>
                                <select class="form-control form-control-medium" id="topic">
                                    <option value="followup_mail">Followup Mail</option>
                                    <option value="sales_pitch">Sales Pitch</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="word_limit"><b>Word Limit:</b></label>
                                <input class="form-control form-control-medium" type="number" min="0" max="200" id="word_limit" value=100>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="slider"><b>Temperature:</b></label>
                                <div class="slider-container">
                                    <input class="form-control form-control-medium" type="range" min="0" max="1" step="0.1" value="0.5" id="slider">
                                    <span class="slider-value" id="sliderValue">0.5</span>
                                </div>
                            </div>
                        </div>
                        <label for="remarks"><b>Remarks:</b></label>
                        <input class="form-control form-control-large" type="text" placeholder="Add any additional information" id="remarks"><br>
                        <textarea class="form-control" id="sales_resource" rows="10" disabled=True></textarea>
                        <br>
                        <button type="button" class="btn btn-success" id="generateButton" onclick="generate_resource()">Generate</button>
                        <button type="button" class="btn btn-light" id="resetButton" onclick="reset()">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
            <h5 class="modal-title mb-3">Please wait while the response is being generated. It will take few minutes</h5>
            <div class="spinner-border text-primary mb-3" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            </div>
        </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        // Get the range input element and the output element
        var slider = document.getElementById("slider");
        var output = document.getElementById("sliderValue");

        // Display the default value on page load
        output.innerHTML = slider.value;

        // Update the value displayed when the slider is moved
        slider.oninput = function() {
            output.innerHTML = this.value;
        }
    </script>
    <script>
        function generate_resource(){
            const loadingModal = $('#loadingModal');
            const topic = $('#topic').val();
            const word_limit = $('#word_limit').val();
            const sliderValue = $('#slider').val();
            const remarks = $('#remarks').val();
            
            loadingModal.modal('show')
            // Simulate a loading delay (you can replace this with your actual loading logic)
            setTimeout(function () {
                loadingModal.modal('hide');
            }, 2000); // Adjust the delay (in milliseconds) as needed

            $('#sales_resource').val(topic + "\n" + word_limit + "\n" + sliderValue + "\n" + remarks);
            $('#sales_resource').prop('disabled', false);
        };

        function reset(){
            $('#sales_resource').val("");
            $('#sales_resource').prop('disabled', true);
            $('#word_limit').val("100");
            $('#slider').val("0.5");
            $('#sliderValue').text("0.5");
            $('#remarks').val("");
        };
    </script>
</body>
</html>
